body{
  background-color : #000;
  color : #fff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mainConianer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}
img{
  border-radius: 8px;
  width: 180px;
  height: 250px;
}

.contet{
  background-color: #921f1f;
  color: white;
  border: 3px solid #000;
  border-radius: 8px;
  width: 250px;
  height: auto;
}

.innerGrid{
  background-color:grey;
  border: 2px solid #000;
  border-radius: 8px;
  width: auto;
  height: auto;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
